body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9ecef;
}

header, footer {
  background-color: #0077b6;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

main {
  padding: 2rem;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  width: 250px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 1rem;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 300px;
  margin: 0.5rem;
  padding: 0.5rem;
}

form button {
  width: 200px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #09008d;
  color: white;
  border: none;
  border-radius: 5px;
}

footer a {
  color: #ffffff; /* Amarillo fuerte */
  text-decoration: none;
  margin: 0 0.5rem;
}

footer a:hover {
  color: #2c1661;
  text-decoration: underline;
}